body {
  margin-top: 50px;
  margin-bottom: 50px;
}

.container {
  width: auto;
  max-width: 900px;
  padding: 0 15px;
}

.container .footer-text {
  margin: 20px 0;
}

.badge {
  background-color: #e4aa48;
}

.image {
  width: 100%;
}

.ops-menu-link {
  cursor: pointer;
}

button.link {
  background: none;
  border: none;
  margin: 0;
  padding: 3px;
  outline: none;
  color: white;
}

.cart-button {
  margin-top: 12px;
}

.right-button {
  display: inline-block;
}

.left-button {
  display: inline-block;
  float: left;
  margin-top: 10px;
}

.cart-label {
  display: inline-block;
  background-color: #77b300;
  padding: 2px 10px;
  color: white;
  float: left;
}